* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    /* Main Colors */
    --sunfix-green: #00a651;
    --sunfix-dark-green: #004d26;
    --sunfix-highlight: #00d84a;
    /* Placeholder Color (Dark Purple/Blue) */
    --placeholder-purple: #7b7dbe;
}

.container-header {
    font-family: 'Arial', sans-serif;
    margin: 0;
    animation: gradientMove 10s ease infinite;
    background-size: 400% 400%;
}

/* Navbar */
.navbar {
    background-color: #00d84a;
    transition: all 0.3s ease;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar a {
    color: white !important;
    font-weight: 500;
    position: relative;
    transition: color 0.3s ease;
}

.navbar a::after {
    
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    transition: width 1s ease;
}

.navbar a:hover::after {
    width: 100%;
}

.navbar a:hover {
    color: #107e2f !important;
}

.nav-item {
    font-size: 20px;
}
.dropdown-menu{
    background-color: #1ad75c;
}
.dropdown-menu .dropdown-header {
    text-decoration: none !important;
    color: rgb(255, 255, 255) !important; 
}

/* Responsive adjustments for social media area */
@media (max-width: 768px) {
    .social-area {
        position: static;
        text-align: center;
        margin-top: 20px;
    }
}

.green-separator {
    height: 8px;
    background-color: #008000;
    margin-top: 3rem;
}

.green-section {
    background-color: #e8f5e9;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.list-unstyled li::before {
    content: "\2022";
    
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.top-green-line {
    height: 8px;
    background-color: #008000;
    margin-bottom: 2rem;
}

.custom-list {
    padding-left: 0;
    list-style: none;
}

.custom-list li {
    padding-left: 1.5em;
    position: relative;
    margin-bottom: 0.5rem;
}

.custom-list li::before {
    content: "\2022";
    
    font-weight: bold;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.2rem;
}